.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed; /* 열 너비를 비율에 따라 고정 */
}

.table th,
.table td {
  border: 1px solid #ddd;
  text-align: center;
  height: 70px; /* 높이를 고정 */
  line-height: 70px; /* 세로 정렬 */
  white-space: nowrap; /* 줄바꿈 방지 */
  overflow: hidden; /* 넘치는 내용 숨기기 */
  text-overflow: ellipsis; /* 넘치는 내용 말줄임표 */
}

.table th:nth-child(1),
.table td:nth-child(1) {
  width: calc((100% / 13) * 2); /* 2 비율 */
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: calc(100% / 13); /* 1 비율 */
}

.table th:nth-child(3),
.table td:nth-child(3) {
  width: calc(100% / 13); /* 1 비율 */
}

.table th:nth-child(4),
.table td:nth-child(4) {
  width: calc(100% / 13); /* 1 비율 */
}

.table th:nth-child(5),
.table td:nth-child(5) {
  width: calc((100% / 13) * 2); /* 2 비율 */
}

.table th:nth-child(6),
.table td:nth-child(6) {
  width: calc((100% / 13) * 2); /* 2 비율 */
}

.table th:nth-child(7),
.table td:nth-child(7) {
  width: calc((100% / 13) * 2); /* 2 비율 */
}

.table th:nth-child(8),
.table td:nth-child(8) {
  width: calc(100% / 13); /* 1 비율 */
}

.table th:nth-child(9),
.table td:nth-child(9) {
  width: calc(100% / 13); /* 1 비율 */
}

.pageWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 화면 전체 높이 */
}


.container {
    flex: 1; /* 남은 공간을 채움 */
    max-width: 1700px;
    margin: 0 auto;
    padding: 20px;
    font-size: 18px; /* 기본 폰트 크기 확대 */
    padding-bottom: 300px; /* footer랑 겹치지 않도록 여유 공간 추가 */
    overflow-x: auto; /* 테이블이 화면을 넘으면 가로 스크롤 활성화 */
  }

  
  .title {
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  
  .table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .downloadButton, .submitButton {
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .downloadButton {
    background-color: #2196f3;
    color: white;
  }
  
  .downloadButton:hover {
    background-color: #1976d2;
  }
  
  .submitButton {
    background-color: #4caf50;
    color: white;
  }
  
  .submitButton:hover {
    background-color: #388e3c;
  }
  