/* src/pages/program/ProgramDetail.module.css */
body {background: #fff; color: #333;}
.pgContainer input {font-family: "Pretendard Variable";}

.pgContainer {width: 100%; position: relative;}

.pgRSection {width: calc(100% - 368px); position: absolute; top: 0; right: 0; box-sizing: border-box; padding: 72px 48px;}
.secTop > p {font-size: 40px; font-weight: bold; margin: 0; border-bottom: 3px solid #064420; padding-bottom: 8px; padding-left: 24px;}
/* .secTop end */

.secContent {width: 100%; box-sizing: border-box; padding: 24px 0px;}

.pgDetailTop {width: 100%;}
.pgDTitle {font-size: 40px; padding: 12px 0 0 24px; margin: 0;}
.pgDList {margin: 0; padding: 0; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; margin: 24px 0;}
.pgDItem {list-style: none; display: flex; align-items: center; margin: 16px 24px;}
.pgDItem > span:nth-of-type(1) {font-size: 32px; color: #064420;}
.pgDItem > span:nth-of-type(2) {font-size: 18px; display: block; width: 200px; font-weight: bold; margin: 0 24px;}

.pgDContent {width: 100%; box-sizing: border-box; padding: 24px; white-space: pre-wrap; line-height: 1.5;}
.pgDTxt {margin-bottom: 36px; font-size: 18px;}
.pgSwiper {width: 100%; height: 800px; margin: 20px 0;}
.pgSlide {display: flex; justify-content: center; align-items: center; height: 100%; background: #F9F9F9;}
.pgDetailImage {max-height: 100%; max-width: 100%; height: 100%; box-sizing: border-box; padding-bottom: 8px; object-fit: contain; display: block; margin: auto; position: absolute; left: 0; right: 0; top: 0; bottom: 0;}

.pgAttach {border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing: border-box; padding: 24px; display: flex; align-items: center;}
.pgAttachIcon {width: 200px; height: 36px; background: #064420; border-radius: 36px; text-align: center; line-height: 36px; color: #fff; margin-right: 24px;}
.pgAttachList {padding: 0; margin: 0;}
.pgAttachList > li {list-style: none; margin-bottom: 8px; margin-right: 24px;}
.pgAttachList > li a {color: #333; text-decoration: none;}
.pgAttachList > li a:hover {color: #368cfc;}

.pgDetailBottom {display: flex; justify-content: flex-end; margin: 96px 0 48px; position: relative;}
.pgDetailBottom > button {background: #eee; font-size: 16px; width: 100px; height: 36px; border-radius: 8px; font-family: "Pretendard Variable"; margin-left: 16px; border: 0; cursor: pointer;}
.pgDetailBottom > button:hover {background: #064420; color: #fff;}
.pgDetailBottom > button:nth-child(1) {position: absolute; left: 0; right: 0; margin: 0 auto;}



/* role === "SENIOR" */
.snrPgContainer {width: 100%;}
.pgSub {width: calc(100% - 192px); min-height: calc(100vh - 240px); margin: 48px auto; background: #fff; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); border-radius: 16px; box-sizing: border-box; padding: 96px;}
.pgSubTop {width: 100%; border-bottom: 2px solid #064420; padding-bottom: 24px;}
.pgSubTopBtns {display: flex; justify-content: space-between; align-items: center;}
.pgSubTopBtns > button {font-size: 32px; font-weight: bold; border: 0; background: none; cursor: pointer;}
.pgSubTopBtns > button > span {font-size: 36px; position: relative; top: 3px; left: 0px; transition: all 0.3s;}
.pgSubTopBtns > button:hover > span {left: -9px;}
.pgSubTopBtns > button:nth-child(2) {background: #618264; color: #fff; width: 192px; height: 60px; border-radius: 8px; cursor: pointer; transition: all 0.3s; letter-spacing: 1px;}
.pgSubTopBtns > button:nth-child(2):hover {background: #064420;}

.pgSubTopWrap {width: 100%; position: relative;}
.pgSubTopWrap > h1 {font-size: 60px; word-break: keep-all; overflow-wrap: break-word; letter-spacing: 1px; width: 100%; margin-bottom: 60px; border-bottom: 2px solid #064420; padding-bottom: 48px; margin-bottom: 24px;}
.pgSubTopWrap > p {font-weight: bold; font-size: 32px; margin: 0 0 16px; padding-left: 16px; display: flex;}
.pgSubTopWrap > p > span {width: 240px; display: block; color: #333;}
.pgSubTopWrap > p:nth-of-type(1) {color: #368cfc;}
/* pgSubTop end */

.pgSubBottom {width: 100%;}
.pgSubContent {white-space: pre-wrap; width: 100%; padding: 48px 0; font-size: 32px; line-height: 1.5; letter-spacing: 1px;}

.pgSubBottom .pgSwiper {height: 1200px; margin-bottom: 96px;}
.pgSubBottom .pgAttach {border-color: #618264; border-width: 2px; padding: 48px 24px;}
.pgSubBottom .pgAttachIcon {background: #618264; color: #fff; width: 480px; height: 60px; border-radius: 8px; letter-spacing: 1px; line-height: 60px; font-size: 32px; font-weight: bold; margin-right: 48px;}
.pgSubBottom .pgAttachList > li > a {font-size: 24px; font-weight: bold; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
/* pgSubBottom end */

.snrPgBottom {width: 100%; box-sizing: border-box; padding: 0 96px 96px;}
.snrPgBottom > button {display: block; border: 0; background: none; font-size: 32px; font-weight: bold; font-family: "Pretendard Variable"; cursor: pointer;}
.snrPgBottom > button:nth-child(1) > span {font-weight: bold; font-size: 36px; position: relative; top: 5px; margin-right: 8px;}
.snrPgBottom > button:nth-child(1):hover {color: #064420;}
.snrPgBottom > button:nth-child(1):hover > span {animation: moveUp 1s infinite;}
@keyframes moveUp {
    50% {top: -10px;}
}

.snrPgBottom > button:nth-child(2) {background: #618264; color: #fff; width: 192px; height: 60px; border-radius: 8px; cursor: pointer; transition: all 0.3s; letter-spacing: 1px; margin: 48px auto;}
.snrPgBottom > button:nth-child(2):hover {background: #064420;}