/* src/pages/program/ProgramList.module.css */
body {background: #fff; color: #333;}
.pgContainer input {font-family: "Pretendard Variable";}

.pgContainer {width: 100%; position: relative;}

.pgRSection {width: calc(100% - 368px); position: absolute; top: 0; right: 0; box-sizing: border-box; padding: 72px 48px;}
.secTop > p {font-size: 40px; font-weight: bold; margin: 0; border-bottom: 3px solid #064420; padding-bottom: 8px; padding-left: 24px;}
/* .secTop end */

.secContent {width: 100%; box-sizing: border-box; padding: 24px 8px;}

.pgListTop {display: flex; flex-wrap: wrap; justify-content: space-between;}
.pgTitle {width: 100%; font-weight: bold; font-size: 40px; margin: 24px 0 72px;}
.pgTitle > span {color: #368cfc;}

.pgTopBtns > button {background: #eee; font-size: 16px; width: 100px; height: 36px; border-radius: 8px; font-family: "Pretendard Variable"; margin-right: 16px; border: 0; cursor: pointer;}
.pgTopBtns > button:hover {background: #064420; color: #fff;}

.pgSearchWrap {display: flex;}
.pgSearchWrap > select {height: 36px; width: 120px; border: 0; outline: 0; cursor: pointer; border-bottom: 2px solid #064420; display: block; font-size: 16px; font-family: "Pretendard Variable";}
.pgSearchWrap > select > option {text-align: center;}

.pgSearchWrap > input {height: 36px; border: 0; outline: 0; border-bottom: 2px solid #064420; display: block; margin: 0 16px; font-size: 16px; min-width: 300px;}
.pgSearchWrap > button {background: #eee; font-size: 16px; width: 100px; height: 36px; border-radius: 8px; font-family: "Pretendard Variable"; border: 0; cursor: pointer;}
.pgSearchWrap > button:hover {background: #064420; color: #fff;}

.pgDateWrap {margin: 0 16px; display: flex; align-items: center; border-bottom: 2px solid #064420; box-sizing: border-box;}
.pgDateWrap > input {display: block; height: 34px; width: 132px; border: 0; outline: 0; text-align: center;}
.pgDateWrap > span {font-size: 16px; font-weight: bold; margin: 0 0 0 24px;}
/* .pgListTop end */

.pgListWrap {width: 100%;}
.pgList {margin: 48px 0; padding: 0; display: flex; flex-wrap: wrap; align-content: flex-start;}
.pgListItem {list-style: none; padding: 0; width: 24%; margin-right: calc(4% / 3); margin-bottom: 48px;}
.pgListItem:nth-child(4n) {margin-right: 0;}
.pgListItem > a {display: block; width: 100%; height: 100%; cursor: pointer;}
.pgImage {width: 100%; aspect-ratio: 1 / 1; object-fit: cover;}


.pgListTextWrap {margin: 12px 0;}
.pgListTextWrap p {font-size: 16px; margin: 0; color: #666; margin-bottom: 4px; width: fit-content; max-width: 95%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.pgListTextWrap > p:nth-child(1) {display: block; font-weight: bold; font-size: 24px; color: #333; margin-bottom: 8px; border-bottom: 2px solid transparent; padding-bottom: 4px; transition: all 0.3s;}
.pgListItem > a:hover .pgListTextWrap > p:nth-child(1) {border-color: #064420; color: #064420;}
/* secContent end */

/* role === "SENIOR" */
.snrPgContainer {width: 100%; height: 100vh;}
.snrPgSection {width: 100%; height: calc(100vh - 96px - 48px); box-sizing: border-box; padding: 0px 96px 24px; display: flex;}

.snrPgLeft {width: 30%; height: 100%; box-sizing: border-box; padding-top: 48px; position: relative;}
.snrPgLTop > p {margin: 0; padding: 0; font-weight: bold; font-size: 36px; background: #064420; color: #fff; width: fit-content; padding: 8px 36px; border-radius: 56px;}
.snrPgLTop > h1 {font-size: 48px; margin: 48px 0;}

.snrPgLeft > button {border: 0; cursor: pointer; width: 90%; height: 300px; border-radius: 16px; background: #618264; color: #fff; font-weight: bold; font-family: "Pretendard Variable"; font-size: 36px; text-align: left; box-sizing: border-box; padding: 24px; line-height: 1.5; transition: all 0.3s; position: absolute; bottom: 72px;}
.snrPgLeft > button > span {font-size: 36px; font-weight: bold; margin-left: 5px; position: relative; top: 8px; left: 0; transition: all 1s;}
.snrPgLeft > button:hover {background: #064420;}
.snrPgLeft > button:hover > span {left: 50px;}
/* snrPgLeft end */

.snrPgRight {width: 100%; box-sizing: border-box;}

.snrPgRight .pgSearchWrap {display: flex; justify-content: flex-end; margin-top: 48px; margin-right: 40px;}
.snrPgRight .pgSearchWrap > select {height: 72px; width: 168px; border: 0; outline: 0; cursor: pointer; border: 2px solid #ddd; display: block; font-size: 32px; font-family: "Pretendard Variable"; border-radius: 8px;}
.snrPgRight .pgSearchWrap > select > option {text-align: center;}

.snrPgRight .pgSearchWrap > input {height: 72px; border: 0; outline: 0; border: 2px solid #ddd; display: block; margin: 0 16px; font-size: 8px; width: calc(100% - 432px); font-size: 32px; box-sizing: border-box; padding-left: 24px; border-radius: 8px;}
.snrPgRight .pgSearchWrap > button {background: #eee; font-size: 16px; width: 192px; height: 72px; border-radius: 8px; font-family: "Pretendard Variable"; border: 0; cursor: pointer; font-size: 32px;}
.snrPgRight .pgSearchWrap > button:hover {background: #064420; color: #fff;}

.snrPgRight .pgDateWrap {margin: 0 16px; display: flex; align-items: center; box-sizing: border-box; border-bottom: 0;}
.snrPgRight .pgDateWrap > input {display: block; height: 72px; width: 300px; outline: 0; text-align: center; border: 2px solid #ddd; font-size: 32px; font-family: "Pretendard Variable"; border-radius: 8px; box-sizing: border-box;}
.snrPgRight .pgDateWrap > span {font-size: 32px; font-weight: bold; margin: 0 0 0 24px; position: relative; left: -10px;}

.snrPgList {width: 100%; box-sizing: border-box; padding-top: 32px;
    /* The Gradient Effect on Content in a Scroll */
    --scrollbar-width: 8px;
    --mask-height: 32px;
    overflow-y: auto;
    /* height: 90%; */
    padding-bottom: var(--mask-height);
    padding-right: 36px;

    /* The CSS mask */
    --mask-image-content: linear-gradient(
        to bottom,
        transparent,
        black var(--mask-height),
        black calc(100% - var(--mask-height)),
        transparent
    );
    --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
    --mask-image-scrollbar: linear-gradient(black, black);
    --mask-size-scrollbar: var(--scrollbar-width) 100%;
    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat, no-repeat;
}
/* Webkit */
.snrPgList::-webkit-scrollbar {
    width: var(--scrollbar-width);
}
.snrPgList::-webkit-scrollbar-thumb {
    background-color: #618264;
    border-radius: 9999px; /* always round */
}
.snrPgList::-webkit-scrollbar-track {
    background-color: transparent;
}

.snrPgListItem {list-style: none; box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15); border-radius: 16px; margin-bottom: 36px;}
.snrPgListItem > a {display: block; width: 100%; height: 100%; padding: 36px; box-sizing: border-box; border-radius: 16px; background: #fff; min-height: 216px; position: relative; cursor: pointer;}
.snrPgListItem h1 {margin: 0; padding: 0; font-size: 36px; word-break: keep-all; overflow-wrap: break-word; letter-spacing: 1px;}
.snrPgListItem p {margin: 0; padding: 0; font-size: 32px; position: absolute; right: 24px; bottom: 24px; font-weight: bold;}
.snrPgListItem span {font-size: 24px; color: #999; position: absolute; bottom: 24px; opacity: 0; transition: all 0.3s;}
.snrPgListItem a:hover {background: #FDFAF6;}
.snrPgListItem a:hover > span {opacity: 1;}
/* snrPgRight end */