/* 부모 컨테이너 */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* 화면 전체 높이 */
  transition: margin-left 0.3s ease;
  /* 부드러운 이동 효과 */
  align-items: center;
  /* 부모 기준 수평 정렬 */
  justify-content: flex-start;
  /* 부모 기준 위쪽 정렬 */
}

/* 사이드바가 열렸을 때의 상태 */
.chat-container.sidebar-open {
  margin-left: 360px;
  /* 사이드바 너비만큼 오른쪽으로 이동 */
}

.chatContainer {
  width: 100%;
  /* 중앙에서 최대 너비를 설정 */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 자식 요소를 수평 가운데 정렬 */
  justify-content: flex-start;
  /* 위쪽 정렬 */
}

/* 메시지 영역 (스크롤 가능) */
.chat-page {
  width: 100%;
  /* 중앙에서 최대 너비를 설정 */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 자식 요소를 수평 가운데 정렬 */
  justify-content: flex-start;
  /* 위쪽 정렬 */
  flex: 1;
  padding: 20px;
  padding-bottom: 150px;
  /* input-container 높이만큼 아래쪽 패딩 추가 */
  box-sizing: border-box;
}


/* 메시지 세트를 한 화면에 꽉 차게 표시 */
.message-set {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 100px);
  /* 입력창 제외 영역 */
  box-sizing: border-box;
  padding: 20px;
}

/* 채팅 말풍선 스타일 */
.chat-bubble {
  padding: 20px;
  border-radius: 30px;
  margin: 15px 0;
  /* 메시지 간 간격 */
  font-size: 28px;
  line-height: 1.5;
  max-width: 70%;
  word-wrap: break-word;
  width: fit-content;
  font-weight: bold;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.15);
}


.user-message {
  align-self: flex-end;
  background-color: #F1F3F5;
  margin-left: auto;
  margin-right: 10px;
}

.ai-response {
  align-self: flex-start;
  background-color: #FDFAF6;
  margin-left: 10px;
  margin-right: auto;
}

/* 더 구체적인 선택자 */
.input-container .send-button,
.input-container .mic-button {
  width: 96px;
  height: 96px;
  padding: 0;
}

/* input-container 기본 스타일 */
.input-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  /* 부드러운 전환 효과 */
}

/* 사이드바가 닫혔을 때 */
.input-container.sidebar-closed {
  width: 100%;
  /* 화면 전체 너비 */
  margin-left: 0;
  /* 좌측 여백 제거 */
  margin-left: 0;
}

/* 사이드바가 열렸을 때 */
/* 사이드바가 열렸을 때 */
.input-container.sidebar-open {
  width: calc(100% - 360px);
  /* 사이드바 너비만큼 줄어듦 */
  margin-left: 360px;
  /* 사이드바 여백 추가 */
}

.text-input {
  flex: 1;
  height: 80px;
  padding: 0 15px;
  font-size: 25px;
  border: 1px solid #cbd5e0;
  border-radius: 25px;
  outline: none;
  margin-left: 20%;
}

.send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;
  background-color: #14532d;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  margin-right: 20%;
}

.send-button:disabled {
  background-color: #A0AEC0;
  /* 비활성화된 버튼 배경색 */
  cursor: not-allowed;
}

.send-button:hover {
  background-color: #276749;
}


/* SeniorNavbar.module.css 또는 글로벌 CSS */
.seniorNavbar {
  position: fixed; /* 상단 고정 */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background-color: white;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.container {
  padding-top: 60px; /* SeniorNavbar의 높이만큼 패딩 추가 */
  display: flex;
  height: 100vh;
  align-items: center;
}

.sidebarToggle {
  position: fixed;
  top: 40px;
  left: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.sidebarToggle:hover {
  background-color: #0056b3;
}

.sidebar {
  width: 360px;
  height: 100vh;
  background-color: #f0f8ff;
  border-right: 1px solid #ddd;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
}

.sidebarVisible {
  transform: translateX(0);
}

.sidebarHidden {
  transform: translateX(-100%);
}

.header {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 80px;
}



.sidebarOpen {
  margin-left: 360px;
  /* 사이드바 너비 */
}

.sidebarClosed {
  margin-left: 0;
  /* 사이드바 닫힌 상태 */
}

.list {
  flex: 1;
  overflow-y: auto;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 25px;
  text-align: left;
}

.item:hover {
  background-color: #d8d8d8 !important;
  border-color: #e6f7ff !important;
}

.selectedItem {
  background-color: #1890ff !important;
  color: white !important;
  font-weight: bold;
  border-color: #063158;
}

.noWorkspace {
  font-size: 30px;
  text-align: center;
  color: #888;
}

.button {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  padding: 15px;
  font-size: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  font-size: 16px;
  text-align: center;
}

.menuIcon {
  color: gray;
  font-size: 20px;
  cursor: pointer;
  visibility: hidden;
}

.item:hover .menuIcon {
  visibility: visible;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  text-align: center;
  position: relative;
}

.modal h3 {
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: bold;
}

.modal p {
  margin-bottom: 20px;
  color: #555;
  font-size: 23px;
}

.modalActions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cancelButton {
  background: #ccc;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  transition: background-color 0.3s ease;
}

.cancelButton:hover {
  background-color: #b0b0b0;
}

.deleteButton {
  background: #e53935;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: #d32f2f;
}

.dropdownMenu {
  position: absolute;
  top: 110%;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdownMenu button {
  display: block;
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.dropdownMenu button:hover {
  background-color: #f0f0f0;
}

/* 마크다운 스타일링 */
.markdown {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

/* 제목 스타일 */
.markdown h1,
.markdown h2,
.markdown h3 {
  margin: 1em 0 0.5em;
  font-weight: bold;
}

/* 리스트 스타일 */
.markdown ul {
  margin: 1em 0;
  padding-left: 1.5em;
}

.markdown ol {
  margin: 1em 0;
  padding-left: 1.5em;
}

.markdown li {
  margin-bottom: 0.5em;
}

/* 코드블록 스타일 */
.markdown pre {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

.markdown code {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f0f0f0;
  padding: 2px 4px;
  border-radius: 4px;
}

/* 링크 스타일 */
.markdown a {
  color: #007bff;
  text-decoration: none;
}

.markdown a:hover {
  text-decoration: underline;
}





.emergencyButton {
  position: fixed;
  bottom: 200px;
  right: 20px;
  width: 120px;
  height: 50px;
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

.emergencyButton:hover {
  background-color: #d9363e;
  transform: scale(1.1);
}
