/* 모든 UI에 적용할 수 있는 글로벌 CSS 파일.
  * 모든 파일에서 <Container>를 최상위 부모 태그로 적용하면 좌우 96px 패딩과 반응형이 적용됨*/

/* 기본 스타일: 큰 화면 (Desktop) */
.container {
  padding-left: 96px;
  padding-right: 96px;
  margin: 0 auto; /* 가운데 정렬 */
  box-sizing: border-box;
}

/* 중간 화면 (Tablet) */
/* @media (max-width: 1024px) {
  .container {
    padding-left: 48px;
    padding-right: 48px;
  }
}

/* 작은 화면 (Mobile) */
/*@media (max-width: 768px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}*/

/* 매우 작은 화면 (Small Mobile) */
/*@media (max-width: 480px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}  */
