/* src/pages/managemnet/SeniorDetailViewManager.module.css */
.sdetailMainContainer {
  width: 100%;
}

.sdetailMainContainer input,
.sdetailMainContainer button {
  font-family: 'Pretendard Variable';
}

.sdetailSubContainer {
  width: 100%;
  box-sizing: border-box;
  padding: 24px 48px 72px;
}

/* .sdetailHeader > p {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  border-bottom: 3px solid #064420;
  padding-bottom: 8px;
  padding-left: 24px;
} */

.sdetailSubHeader > p {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
  /* padding-top: 40px; */
  padding-left: 24px;
}

.sdetailDiv {
  margin-top: 12px;
  /* display: flex; */
  gap: 20px;
}

.sdetailProfilephoto {
  width: 250px;
  height: 300px;
  flex-shrink: 0;
  margin-top: 20px;
  /* margin-right: 50px; */
  /* border: 1px solid; */
}

.sdetailProfilephoto > button {
  position: relative;
  /* top: 310px; */
  left: 80px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  height: 25px;
}

.sdetailProfile {
  width: 250px;
  height: 300px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.sdetailTableDiv {
  flex-grow: 1;
  margin-left: 24px;
  /* max-width: calc(100%-270px); */
  display: flex;
}

.sdetailTable {
  font-size: 18px;
  table-layout: fixed;
  width: 70%;
  margin-left: 76px;
}

.sdetailTable > tr {
  height: 70px;
}

.sdetailTable > tr > th {
  margin-left: 10px;
  width: 90px;
  line-height: 0;
  text-align: justify;
}

.sdetailTable > tr > td {
  width: 300px;
}

.sdetailTableAgeDiv {
  width: 130px;
  height: 75px;
  vertical-align: middle;
}

.sdetailTableAgeDiv > td {
  width: 130px;
  height: 70px;
}

.sdetailTableAgeDiv > td > input {
  background-color: #dddddd;
  border: 3px solid #dddddd;
  margin-left: 10px;
  height: 36px;
  padding: 0;
  padding-left: 15px;
  font-size: 18px;
}

.sdetailTable > tr > td > input {
  margin-left: 10px;
  height: 36px;
  width: 245px;
  padding: 0;
  padding-left: 15px;
  font-size: 18px;
  border: 2px solid #dddddd;
}

.sdetailTable > tr > td > input[readonly] {
  background-color: #dddddd;
  border: 3px solid #dddddd;
}

.sdetailTable > tr > th::after {
  content: '';
  display: inline-block;
  width: 100%;
}

.sdetailTable > tr > th::before {
  content: '';
  display: inline-block;
  width: 100%;
}

.sdetailButtonDiv {
  display: flex;
  justify-content: end;
  /* width: 1425px;
  max-width: calc(100% - 150px);
  margin-top: 50px;
  margin-left: 50px; */
  margin-right: 24px;
}

.sdetailButton1 {
  border-radius: 10px;
  border: 0;
  background-color: #eee;
  width: 144px;
  height: 48px;
  margin-right: 30px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.sdetailButton1:hover {
  background-color: #064420;
  color: #fff;
}

.sdetailButton2 {
  border-radius: 10px;
  background-color: #eeeeee;
  border: 0;
  width: 144px;
  height: 48px;
  margin-right: 30px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.sdetailButton2:hover {
  background-color: #064420;
  color: #fff;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading > p {
  text-align: center;
  font-size: 30px;
}

.sdetailSelectDiv {
  display: flex;
  align-items: center; /* 수직 중심 정렬 */
  gap: 10px; /* 요소 간 간격 */
}

.sdetailSelect {
  width: 80px;
  height: 30px;
  font-size: 16px;
  text-align: center;
}

.sdetailTable > tr > td > div > input {
  margin-left: 10px;
  height: 36px;
  width: 345px;
  padding: 0;
  padding-left: 15px;
  font-size: 18px;
  border: 0;
}

.sdetailTable > tr > td > div > input[readonly] {
  background-color: #dddddd;
}

.image {
  width: 250px;
  height: 300px;
}

/* 아이디 비밀번호 입력칸 */
.sdetailIdPwd {
  width: 1050px;
  vertical-align: middle;
  margin-top: 20px;
}

.sdetailIdPwd > td {
  width: 250px;
}

.sdetailIdPwd > th {
  margin-left: 10px;
  width: 90px;
  height: 40px;
  line-height: 0;
  text-align: justify;
}

.sdetailIdPwd > td > input {
  margin-left: 10px;
  height: 36px;
  width: 200px;
  padding: 0;
  padding-left: 15px;
  font-size: 18px;
  border: 2px solid #dddddd;
}

.sdetailIdPwd > th::after {
  content: '';
  display: inline-block;
  width: 100%;
}

.sdetailIdPwd > th::before {
  content: '';
  display: inline-block;
  width: 100%;
}

/* 아이디 비밀번호 체크 메세지 출력*/
.sdetailIdPwdChk {
  width: 1050px;
  vertical-align: middle;
}

.sdetailIdPwdChk > td {
  width: 250px;
}

.sdetailIdPwdChk > th {
  margin-left: 10px;
  width: 90px;
  /* height: 70px; */
  line-height: 0;
  text-align: justify;
}

.sdetailIdPwdChk > td > input {
  margin-left: 10px;
  border: 0;
  background-color: #fff;
  font-size: 10px;
}

.sdetailIdPwdChk > td > button {
  margin-left: 10px;
  height: 25px;
  font-weight: bold;
  border-style: hidden;
  border-radius: 3px;
  background-color: #e4efe7;
  color: #333333;
  cursor: pointer;
}

/* 이메일 입력 칸*/
.sdetailEmailDiv {
  width: 700px;
  vertical-align: middle;
}

.sdetailEmailDiv > td {
  height: 70;
  vertical-align: middle;
}

.sdetailEmailDiv > th {
  margin-left: 10px;
  width: 90px;
  height: 70px;
  line-height: 0;
  text-align: justify;
}

.sdetailEmailDiv > td > input {
  margin-left: 10px;
  height: 36px;
  width: 200px;
  padding: 0;
  padding-left: 15px;
  font-size: 18px;
  border: 2px solid #dddddd;
}

.sdetailEmailDiv > th::after {
  content: '';
  display: inline-block;
  width: 100%;
}

.sdetailEmailDiv > th::before {
  content: '';
  display: inline-block;
  width: 100%;
}

.sdetailEmailDiv > td > select {
  margin-left: 20px;
  width: 128px;
  height: 36px;
}

/* 가족 승인 여부 레이어 CSS */
.sdetailFamilyDiv {
  border: 1px, solid;
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 72px 48px;
  margin-top: 100px;
}

/* 병력관리 여부 레이어 */
.sdetailMedicalDiv {
  border: 1px, solid;
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 72px 48px;
  margin-top: 100px;
}

/* 공문서 확인 레이어 */
.sdetailDocumentDiv {
  border: 1px, solid;
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 72px 48px;
  margin-top: 100px;
}

/* 위험상황 알림 기록 레이어 */
.sdetailEmergencyDiv {
  border: 1px, solid;
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 72px 48px;
  margin-top: 100px;
}
