/* src/pages/managemnet/SeniorDetailViewFamilyApproval.module.css */

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading > p {
  text-align: center;
  font-size: 30px;
}

.sdvfaMainContainer {
  width: 100%;
}

.sdvfaSubContainer {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 48px 72px;
}

.sdvfaHeader > p {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 12px;
  padding-left: 24px;
  /* cursor: pointer; */
}

.sdvfaTableDiv {
  width: 100%;
}

.sdvfaTable {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  font-size: 18px;
  border-collapse: collapse;
}

.sdvfaTable > thead {
  width: 100%;
}

.sdvfaTable > thead > tr > th {
  /* padding-top: 8px; */
  /* padding-bottom: 8px; */
  font-weight: bold;
  border-bottom: 2px solid #064420;
  border-top: 2px solid #064420;
  background: #FDFAF6;
  border-left: 1px solid #ddd;
  height: 46px;
  box-sizing: border-box;
}

.sdvfaTable > thead > tr > th:nth-child(1) {border-left: 0;}

.sdvfaTable > tbody > tr > td {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 2px solid #999999;
  border-left: 1px solid #ddd;
}

.sdvfaTable > tbody > tr > td:nth-child(1) {border-left: 0;}

.sdvfaTable > tbody > tr > td > button {
  margin: 0 10px;
  cursor: pointer;
}

.approvalBtn {
  margin: 0 10px;
  cursor: pointer;
  background-color: #e4efe7;
  border-radius: 5px;
  border: 0;
  width: 45px;
  height: 25px;
}

.rejectlBtn {
  margin: 0 10px;
  cursor: pointer;
  background-color: #eee;
  border-radius: 5px;
  border: 0;
  width: 45px;
  height: 25px;
}

.sdvfaTable th.separateCol,
.sdvfaTable td.separateCol {
  width: 10%;
}

.sdvfaTable th.genderCol,
.sdvfaTable td.genderCol {
  width: 10%;
}

.sdvfaTable th.nameCol,
.sdvfaTable td.nameCol {
  width: 15%;
}

.sdvfaTable th.addressCol,
.sdvfaTable td.addressCol {
  width: 35%;
}

.sdvfaTable th.idCol,
.sdvfaTable td.idCol {
  width: 10%;
}

.sdvfaTable th.fileCol,
.sdvfaTable td.fileCol {
  width: 10%;
}

.sdvfaTable th.approvalCol,
.sdvfaTable td.approvalCol {
  width: 10%;
}
