/* src/pages/member/EnrollSelect.module.css */
.enrollButton {
  display: flex; /* Flexbox 적용 */
  justify-content: center; /* 가운데 정렬 */
  gap: 150px; /* 두 div 사이 간격 */
  margin-top: 13%;
}

.button1 {
  width: 300px;
  height: 300px;
  border-radius: 50px;
  border: 0;
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  background-color: #739072;
  font-family: 'Pretendard Variable';
}

.button1:hover {
  transform: scale(110%);
}

.button2 {
  width: 300px;
  height: 300px;
  border-radius: 50px;
  border: 0;
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  background-color: #88ab8e;
  font-family: 'Pretendard Variable';
}

.button2:hover {
  transform: scale(110%);
}

.footer {
  position: fixed; /* 화면의 특정 위치에 고정 */
  bottom: 0; /* 아래쪽에 고정 */
  right: 0; /* 왼쪽에 고정 */
  width: 100%;
}
