/* src/pages/member/LoginSenior.module.css */

.form {
  position: absolute;
  width: 700px;
  height: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.loginform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logininput {
  width: 600px;
  height: 70px;
  margin-bottom: 10px;
  border-radius: 8px;
  border-style: outset;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 30px;
}

.logininput::placeholder {
  font-size: 30px;
}

.loginbutton {
  width: 600px;
  height: 70px;
  border-radius: 8px;
  background-color: #618264;
  color: #ffffff;
  font-size: 40px;
  cursor: pointer;
}

.loginselectbtn {
  width: 349.9px;
  height: 60px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 35px;
  font-weight: bold;
}

.findlink {
  text-decoration: none;
  color: #000000;
  font-size: 25px;
}

.seperator {
  margin-left: 35px;
  margin-right: 35px;
  font-size: 28px;
}

.line {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
}

.icon {
  margin-left: 60px;
  margin-right: 60px;
}

.footer {
  position: fixed; /* 화면의 특정 위치에 고정 */
  bottom: 0; /* 아래쪽에 고정 */
  right: 0; /* 왼쪽에 고정 */
  width: 100%;
}
