/* src/pages/member/MemberListView.module.css */
.mlistContainer button,
.mlistContainer input {
  font-family: 'Pretendard Variable';
}

.mlistContainer {
  display: flex;
}
.mlistSubContainer {
  width: calc(100% - 368px);
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 72px 48px;
}
.mlistviewHeader > p {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  border-bottom: 3px solid #064420;
  padding-bottom: 8px;
  padding-left: 24px;
  cursor: pointer;
}
.mlistrSubLine {
  display: flex;
  justify-content: end;
  margin-top: 80px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.mlistReturnListBtnDiv > button {
  cursor: pointer;
  width: 70px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  background-color: #eee;
  border-radius: 4px;
  border: 0;
}

.mlistReturnListBtnDiv > button:hover {
  background-color: #064420;
  color: #fff;
}

.mlistSearchbox {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 5px;
}
.mlistSearchOptions {
  border-bottom: 2px #064420 solid;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
.mlistArrow {
  width: 20px;
  height: 20px;
}
.mlistDropdown {
  position: absolute;
  z-index: 1000;
  margin-top: 5px;
  background-color: #ffffff;
}
.mlistDropdownOption {
  padding: 5px 0px;
  cursor: pointer;
  font-weight: normal;
  font-size: 20px;
}
.mlistDropdownOption:hover {
  font-weight: bold;
}
.mlistSearchKeyword {
  display: flex;
  align-items: center;
}
.mlistSearchKeywordBox {
  font-family: 'Pretendard Variable';
  width: 320px;
  font-size: 18px;
  border: 0px;
  background-color: #ffffff;
  color: #333333;
  border-bottom: 2px #064420 solid;
}
.mlistSearch {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.mlisttableDiv {
  width: calc(100%);
  margin-top: 20px;
}
.mlistTable {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  margin-top: 80px;
  font-size: 18px;
  border-collapse: collapse;
}
.mlistTable > thead {
  width: 100%;
  background-color: #fdfaf6;
}
.mlistTable > thead > tr > th {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
  border-top: 2px solid #618264;
  border-bottom: 2px solid #618264;
}

.mlistTable > tbody > tr > td {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #618264;
  cursor: pointer;
}

.mlistTable > tbody > tr:hover {
  background-color: #d9d9d9d9;
}

.mlistPaging {
  margin-top: 45px;
}

.mlistTable th:not(:first-child):not(:last-child),
.mlistTable td:not(:first-child):not(:last-child) {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.mlistTable th.nameCol,
.mlistTable td.nameCol {
  width: 10%;
}

.mlistTable th.idCol,
.mlistTable td.idCol {
  width: 15%;
}

.mlistTable th.typeCol,
.mlistTable td.typeCol {
  width: 10%;
}

.mlistTable th.statusCol,
.mlistTable td.statusCol {
  width: 10%;
}

.mlistTable th.emailCol,
.mlistTable td.emailCol {
  width: 20%;
}

.mlistTable th.phoneCol,
.mlistTable td.phoneCol {
  width: 15%;
}

.mlistTable th.dateCol,
.mlistTable td.dateCol {
  width: 10%;
}
