
/* 전체 메뉴 컨테이너 */
.menuContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3열 */
    grid-template-rows: repeat(2, 1fr); /* 2행 */
    grid-gap: 24px; /* 버튼 간 간격 */
    padding: 24px;
    box-sizing: border-box;
    padding:24px 96px;
    height:calc(100% - 96px - 48px);

    /* 중앙 배치 설정 */
    justify-content: center; /* 가로 중앙 */
    align-items: center; /* 세로 중앙 */
}

/* 첫 번째 행에서 첫 번째 열을 제외한 나머지 열에 마진 적용 */
.menuContainer > :nth-child(-n+4):not(:nth-child(1)) {
    margin-top: 100px;  /* 나머지 열에 왼쪽 마진 */
}

/* 두 번째 행에서 첫 번째 열을 제외한 나머지 열에 마진 적용 */
.menuContainer > :nth-child(n+5):nth-child(-n+8) {
    margin-bottom: 100px; /* 두 번째 행에서 첫 번째 열을 제외한 나머지 열에 왼쪽 마진 */
}


/* 공통 버튼 스타일 */
.menuButton {
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative; /* 이미지 위치용 */
    box-sizing: border-box;
    font-size: 60px;
    font-weight: bold;
    color: #064420;
    cursor: pointer;
}

/* 말동무 대화하기 버튼 스타일 */
.div1 {
    grid-area: 1 / 1 / 3 / 2; /* 2행 높이 차지 */
    background-color: #FDFAF6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 578px;
    height: 737px;
}

.div1 p {
    line-height: 1.2; /* 줄 간격 조정 */
}

/* 나머지 버튼 스타일 */
.div2,
.div3,
.div4,
.div5,
.div6,
.div7 {
    background-color: #fff;
    width: 400px;
    height: 355px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    text-align: left;
    position: relative;
}

.div2 p,
.div3 p,
.div4 p,
.div5 p,
.div6 p,
.div7 p {
    margin: 0;
    line-height: 1.2; /* 줄 간격 조정 */
}

/* 이미지 오른쪽 하단 배치 */
.div2 img,
.div3 img,
.div4 img,
.div5 img,
.div6 img,
.div7 img {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* 각 버튼의 그리드 영역 */
.div2 {
    grid-area: 1 / 2 / 2 / 3; /* 두뇌 활성화 게임 */
}

.div3 {
    grid-area: 1 / 3 / 2 / 4; /* 어르신 맞춤 활동 */
}

.div4 {
    grid-area: 1 / 4 / 2 / 5; /* 공지사항 */
}

.div5 {
    grid-area: 2 / 2 / 3 / 3; /* 공문서 작성 */
}

.div6 {
    grid-area: 2 / 3 / 3 / 4; /* 공문서 작성 */
}

.div7 {
    grid-area: 2 / 4 / 3 / 5; /* 공문서 작성 */
}
