.menuContainer {width: 100%;box-sizing: border-box; display: flex; padding: 48px 96px; justify-content: space-between; overflow-y: auto;}
.div1 {width: calc(25% - 24px); display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; line-height: 1.2; background-color: #FDFAF6;}
.div1 > p {margin-bottom: 0;}
.menuWrap {width: 75%; display: flex; justify-content: space-between; flex-wrap: wrap; align-content: space-between;}
.menuWrap > div {width: calc((100% / 3) - 14px);}
/* 공통 버튼 스타일 */
.menuButton {
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative; /* 이미지 위치용 */
    box-sizing: border-box;
    font-size: 60px;
    font-weight: bold;
    color: #064420;
    cursor: pointer;
}
.menuButton:hover {background: #FDFAF6;}
.div1:hover {background: #fff;}

/* 나머지 버튼 스타일 */
.div2,
.div3,
.div4,
.div5,
.div6,
.div7 {
    background-color: #fff;
    width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    text-align: left;
    position: relative;
}

.div2 p,
.div3 p,
.div4 p,
.div5 p,
.div6 p,
.div7 p {
    margin: 0;
    line-height: 1.2; /* 줄 간격 조정 */
}

/* 이미지 오른쪽 하단 배치 */
.div2 img,
.div3 img,
.div4 img,
.div5 img,
.div6 img,
.div7 img {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.div6 img {transform: scale(1.5) translateX(-10px);}

.snrft {position: absolute; bottom: 0;}