/* src/pages/managemnet/SeniorList.module.css */
.slistContainer {
  display: flex;
}
.slistSubContainer {
  width: calc(100% - 368px);
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 72px 48px;
}

.slistRegistBtnDiv {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: 10px;
}

.slistRegistBtnDiv > button {
  width: 100px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  border: 0;
  background-color: #064420;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.slistRegistBtnDiv > button:hover {
  background-color: transparent;
  color: #064420;
  border: 1px solid #064420;
}

.slistviewHeader > p {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  border-bottom: 3px solid #064420;
  padding-bottom: 8px;
  padding-left: 24px;
  cursor: pointer;
  width: 100%;
}
.slistrSubLine {
  display: flex;
  justify-content: end;
  margin-top: 80px;
  margin-bottom: 20px;
}
.slistSearchbox {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 5px;
}
.slistSearchOptions {
  border-bottom: 2px #064420 solid;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
.slistArrow {
  width: 20px;
  height: 20px;
}
.slistDropdown {
  position: absolute;
  z-index: 1000;
  margin-top: 5px;
  background-color: #ffffff;
}
.slistDropdownOption {
  padding: 5px 0px;
  cursor: pointer;
  font-weight: normal;
  font-size: 20px;
}
.slistDropdownOption:hover {
  font-weight: bold;
}
.slistSearchKeyword {
  display: flex;
  align-items: center;
}
.slistSearchKeywordBox {
  font-family: 'Pretendard Variable';
  width: 320px;
  font-size: 18px;
  border: 0px;
  background-color: #ffffff;
  color: #333333;
  border-bottom: 2px #064420 solid;
}
.slistSearch {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
/* .slistInputButton {
    background-color: #064420;
    font-size: 16px;
    color: #ffffff;
    padding: 5px 20px;
    border-radius: 10px;
    text-decoration: none;
  } */
.slisttableDiv {
  width: calc(100%);
  margin-top: 20px;
}
.slistTable {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  margin-top: 80px;
  font-size: 18px;
  border-collapse: collapse;
}
.slistTable > thead {
  width: 100%;
}
.slistTable > thead > tr > th {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
  border-bottom: 2px solid #999999;
}
.thTitle {
  width: 70px;
}
.thDate {
  width: 20%;
}
.thViews {
  width: 10%;
}
.slistTable > tbody > tr > td {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 2px solid #999999;
  cursor: pointer;
}

.slistTable > tbody > tr:hover {
  background-color: #d9d9d9d9;
}

.slistPaging {
  margin-top: 45px;
}

/* 표의 열 별 가로길이 설정 */
.slistTable th.nameColumn,
.slistTable td.nameColumn {
  width: 15%; /* 이름 열: 전체 테이블의 15% */
}

.slistTable th.birthColumn,
.slistTable td.birthColumn {
  width: 15%; /* 생년월일 열: 20% */
}

.slistTable th.genderColumn,
.slistTable td.genderColumn {
  width: 15%; /* 성별 열: 10% */
}

.slistTable th.addressColumn,
.slistTable td.addressColumn {
  width: 45%; /* 주소 열: 35% */
  word-break: break-word; /* 글자가 넘칠 경우 줄바꿈 */
}

.slistTable th.phoneColumn,
.slistTable td.phoneColumn {
  width: 20%; /* 연락처 열: 20% */
}

/* 성별 선택 레이어(검색용) */
.slistGenderSelectContainer {
  display: flex;
  border-bottom: 2px #064420 solid;
}

.slistGenderSelectDiv {
  width: 100px;
}

.slistGenderSelectLabel {
  font-size: 20px;
  margin-left: 10px;
}

.slistGenderSelectLabel > input {
  margin-right: 10px;
}

/* 나이 선택 레이어(검색용) */
.slistAgeSelectContainer {
  display: flex;
  border-bottom: 2px #064420 solid;
}

.slistAgeSelectDiv {
  width: 400px;
}

.slistAgeSelectLabel {
  font-size: 16px;
  margin-left: 10px;
}

.slistAgeSelectLabel > input {
  margin-right: 10px;
}
