/* src/pages/game/AmassCardsModal.module.css */

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modalContent {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 1000px;
  }

  .modalAmassTitle {
    text-align: center;
    font-size: 60px;
    color: #333;
  }
  .card {
    width: 80px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.1);
  }

  .modalAmassCardList {
    margin : 24px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .modalAmassButton{width: 100%;display: flex; justify-content: center; gap:100px;}
  .modalAmassButton button{background: #ddd; font-size: 16px; width: 192px; height: 72px; border-radius: 8px; font-family: "Pretendard Variable"; border: 0; cursor: pointer; font-size: 32px;}
  .modalAmassButton button:hover{background: #064420; color: #fff;}

  .modalAmassCard {
    width: 100px;
    height: auto;
    cursor: pointer;
  }
  
  .modalAmassSelected {
    width: 100px;
    height: auto;
    cursor: pointer;
    border: 5px solid red;
    border-radius: 5px;
  }