/* src/pages/game/PlayGame.module.css */
.mainPage {background-image: url('../../assets/images/game/other/background.png');background-size: cover;background-position: center;height: 100vh;display:flex;align-items: center;
    justify-content: center;}
.gameNavBar{position:fixed;top:0; width: 100%; z-index: 1000;}
.gameArea{width:calc(100% - 48px);height:calc(100vh - 96px - 48px);box-sizing:border-box;margin-top:96px;display:grid;grid-template-rows: 20% 58% 22%;}

.opponentArea {width:100%;display: flex; box-sizing: border-box; background-color: rgba(255, 255, 255, 0.1);}
.getOpponentCards {height: 100%; width: 85%; position: relative;}
.getOpponentCards img {height: 95%; position: absolute;}
.getOpponentCards img:nth-child(1) {left: 0%; z-index: 1;}
.getOpponentCards img:nth-child(2) {left: 2.5%; z-index: 2;}
.getOpponentCards img:nth-child(3) {left: 5%; z-index: 3;}
.getOpponentCards img:nth-child(4) {left: 7.5%; z-index: 4;}
.getOpponentCards img:nth-child(5) {left: 10%; z-index: 5;}
.getOpponentCards img:nth-child(6) {left: 12.5%; z-index: 6;}
.getOpponentCards img:nth-child(7) {left: 15%; z-index: 7;}
.getOpponentCards img:nth-child(8) {left: 17.5%; z-index: 8;}
.getOpponentCards img:nth-child(9) {left: 20%; z-index: 9;}
.getOpponentCards img:nth-child(10) {left: 22.5%; z-index: 10;}
.getOpponentCards img:nth-child(11) {left: 25%; z-index: 11;}
.getOpponentCards img:nth-child(12) {left: 27.5%; z-index: 12;}
.getOpponentCards img:nth-child(13) {left: 30%; z-index: 13;}
.getOpponentCards img:nth-child(14) {left: 32.5%; z-index: 14;}
.getOpponentCards img:nth-child(15) {left: 35%; z-index: 15;}
.getOpponentCards img:nth-child(16) {left: 37.5%; z-index: 16;}
.getOpponentCards img:nth-child(17) {left: 40%; z-index: 17;}
.getOpponentCards img:nth-child(18) {left: 42.5%; z-index: 18;}
.getOpponentCards img:nth-child(19) {left: 45%; z-index: 19;}
.getOpponentCards img:nth-child(20) {left: 47.5%; z-index: 20;}
.getOpponentCards img:nth-child(21) {left: 50%; z-index: 21;}
.getOpponentCards img:nth-child(22) {left: 52.5%; z-index: 22;}
.getOpponentCards img:nth-child(23) {left: 55%; z-index: 23;}
.getOpponentCards img:nth-child(24) {left: 57.5%; z-index: 24;}
.getOpponentCards img:nth-child(25) {left: 60%; z-index: 25;}
.getOpponentCards img:nth-child(26) {left: 62.5%; z-index: 26;}
.getOpponentCards img:nth-child(27) {left: 65%; z-index: 27;}
.getOpponentCards img:nth-child(28) {left: 67.5%; z-index: 28;}
.getOpponentCards img:nth-child(29) {left: 70%; z-index: 29;}
.getOpponentCards img:nth-child(30) {left: 72.5%; z-index: 30;}
.getOpponentCards img:nth-child(31) {left: 75%; z-index: 31;}
.getOpponentCards img:nth-child(32) {left: 77.5%; z-index: 32;}
.getOpponentCards img:nth-child(33) {left: 80%; z-index: 33;}
.getOpponentCards img:nth-child(34) {left: 82.5%; z-index: 34;}
.getOpponentCards img:nth-child(35) {left: 85%; z-index: 35;}
.getOpponentCards img:nth-child(36) {left: 87.5%; z-index: 36;}
.getOpponentCards img:nth-child(37) {left: 90%; z-index: 37}
.getOpponentCards img:nth-child(38) {left: 92.5%; z-index: 38;}
.getOpponentCards img:nth-child(39) {left: 95%; z-index: 39;}
.getOpponentCards img:nth-child(40) {left: 97.5%; z-index: 40;}

.opponentCards {height:100%;width: 15%;align-content: center;text-align: center;}
.opponentCards img {width: 15%;max-width: 40px}

.tableArea{display:flex;align-items: center; width:100%;}
.deckCards{width:20%;text-align: center;}
.deckCards img{width:35%; max-width: 100px;}
.openCards{display: flex;flex-wrap: wrap;justify-content: flex-start;gap:20px;width:50%; height: 90%;}
.tableMonthGroup {position:relative; width:20%; margin: 10px 10px;}
.tableMonthGroup img{position: absolute; top:0; bottom: 0; margin: auto 0; width:100%; max-width: 100px; display: block;}
.tableMonthGroup img:nth-child(1){left:0%; z-index: 1;}
.tableMonthGroup img:nth-child(2){left:30%; z-index: 2;}
.tableMonthGroup img:nth-child(3){left:60%; z-index: 3;}
.tableMonthGroup img:nth-child(4){left:90%; z-index: 4;}



.getPlayerArea{width:30%;background-color: rgba(255, 255, 255, 0.1);height: 100%;box-sizing: border-box; padding : 10px 10px;}
.getPlayerArea img {width:15%;max-width: 100px; margin:2px}


.playerArea{width: 100%;display: flex; background-color: rgba(255, 255, 255, 0.1);}
.playerCardArea{width: 80%;display: flex;align-items: center;gap:10px;}
.playerCardArea img {width: 10%;max-width: 100px; transition:transform 0.3s;}
.playerCardArea img:hover {transform:scale(1.2);}

.playerSide{width: 20%;display: flex; align-items: center;}
.playerSide button{background: #eee; font-size: 16px; width: 192px; height: 72px; border-radius: 8px; font-family: "Pretendard Variable"; border: 0; cursor: pointer; font-size: 32px;}
.playerSide button:hover{background: #064420; color: #fff;}


/* 카드 두장일때 */
.isTwoCards{position:absolute;top:0;bottom:0;left:0;right:0;margin:auto; width:40%; height: 40%;background-color: aliceblue;border-radius: 30px;z-index: 2000;}
.twoCardsTitle{width: 100%;text-align: center;font-size: 60px;margin: 20px 0;}
.twoCards{width: 100%; display: flex; justify-content: center; gap: 50px;}
.isTwoCards img{width:20%; max-width: 100px;cursor: pointer;transition:transform 0.3s;}
.isTwoCards img:hover{transform:scale(1.2);}