/* src/pages/game/ReadyGame.module.css */
.mainPage {background-image: url('../../assets/images/game/other/background.png');background-size: cover;background-position: center;height: 100vh;display:flex;align-items: center;
  justify-content: center;}
.gameNavBar{position:fixed;top:0; width: 100%;}
.gameWelcome {justify-items: center;}
.gameWelcome > p {font-size: 72px;color: #fff;}
.gameWelcome > button {border:none; font-family: "Pretendard Variable";background-color: #618264;font-size:32px;color: #ffffff;padding:10px 60px;border-radius: 8px;text-decoration: none;cursor: pointer;transition: all 0.3s;letter-spacing: 1px;}
.gameWelcome > button:hover { background: #064420;}
