/* src/components/sm/senior/common/SeniorNavBar.module.css*/
/*네비바 css*/
.navbar {
  display: flex; /*flex박스 사용*/
  align-items: end; /*세로축 정렬*/
  /*안쪽여백(상단/좌우/하단)*/
  /* padding: 24px 72px 5px; */
  height: 96px;
  padding: 0 96px 8px;
  /*배경색*/
  background-color: #fff;
  /*그림자효과*/
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  box-sizing: border-box;
}
/*로고*/
.navbarlogo {
  font-size: 28px; /*폰트사이즈*/
  font-weight: bold; /*굵기*/
  color: #064420; /*글자색*/
  cursor: pointer; /*클릭효과*/
  text-decoration: none; /* 밑줄 제거 */
  margin-bottom: 20px;
}
