/* /src/components/common/PageRider.module.css */
.floatingButton {
    position: fixed;
    width: 100px;
    bottom: 5%;
    right: 2.5%;
    cursor: pointer;
    z-index: 200;
    border-radius: 50%;
}