/* src/components/common/PagingView.module.css */
.pagingContainer {
    display: flex;
    justify-content: center;
  }

  .pagingContainer button:disabled {cursor: not-allowed;}
  
  .pageButton {
    background: none;
    border: none;     
    cursor: pointer;
    font-size: 20px;
  }
  
  .adminbutton{
    background: none;
    border: none;     
    cursor: pointer;
    font-size: 20px;
  }

  .adminbutton:hover {
    text-decoration: underline;
  }

  .activebutton{
    background: none;
    border: none;     
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #368cfc;
  }