/* src/components/common/PagingDiv8.module.css */
.pagingContainer1 {display: flex; justify-content: center; align-items: center; gap: 4px;}
.pagingContainer1 button {cursor: pointer; width: 36px; height: 36px; display: flex; justify-content: center; align-items: center; font-family: "Pretendard Variable"; font-size: 18px; padding: 2px 3px; border: 0; background: none;}
.pagingContainer1 button:hover {font-weight: bold;}
.pagingContainer1 button:disabled {cursor: not-allowed; color: #999;}
.pagingContainer1 button:disabled:hover {font-weight: normal;}
.pagingContainer1 .activePage1 {font-weight: bold; color: #fff; background: #064420; border-radius: 8px;}