.footer{
    position: absolute; /* 일반 문서 흐름에 따라 배치 */
    bottom: 0;
    color:#999999;
    height:48px;
    text-align: center;
    font-size: 15px;
    background-color: #ffffff;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.15);
    z-index: 100; /* 다른 요소보다 위에 표시 */
    width: 100%;
    box-sizing: border-box;
}

.context{
    text-align: center;
    line-height: 48px;
}