.dmcontainer{width: calc(100% - 368px); border: 1px solid #000; padding: 0 96px;}
.dmcontainer{font-family: "Pretendard Variable"; box-sizing: border-box;;}
.dmcontainer input{font-family: "Pretendard Variable";}
.dmcontainer button{font-family: "Pretendard Variable";}
.dmTop{display: flex; justify-content: space-between; align-items: flex-end; margin-bottom: 12px; box-sizing: border-box; padding: 0 12px; font-size: 18px;}
.dmTop> h1 {margin: 0; padding: 0; font-size: 40px;}
.dmline> span {font-weight: bold;}
.dmline> label {margin-left: 12px;}
.dmline button{font-family: "Pretendard Variable";}
.dmItem{}