.qnaContent {width: calc(100% - 368px); padding: 69px 61px 72px calc(368px + 61px); box-sizing: border-box;}
.qnaAnswerTitleDiv, .memberIdDiv, .qnaAnswerContentDiv {display: flex; margin-top: 30px; margin-bottom: 30px;}
.qnaAnswerTitle, .memberId {width: 100px; margin: 0; padding: 0; vertical-align: top; text-align: left; font-family: "Pretendard Variable"; font-size: 20px;}
.qnaAnswerTitleTxt, .memberIdTxt {height: 20px; width: 30%; font-family: "Pretendard Variable"; font-size: 20px;}
.memberIdTxt {font-size: 18px;}
.qnaAnswerContent {width: 100px; margin: 0; padding: 0; vertical-align: top; text-align: left; font-family: "Pretendard Variable"; font-size: 20px;}
.qnaAnswerContentTxt {height: 500px; width: 90%; font-family: "Pretendard Variable"; font-size: 18px; resize: none;}
.qnaAnswerBTN {position: absolute; margin-top: 10px; left: calc((100% - 368px ) * 0.5); transform: translate(-50%, 0);}
.qnaAnswerBTN input, .qnaAnswerBTN button {display: inline-block; height: 41px; width: 89px; border:0; font-weight: bold; border-radius: 10px; font-size: 18px; cursor: pointer; font-family: "Pretendard Variable"; margin-left: 25px;}
.qnaAnswerBTN input {color: #000000; background-color: #eeeeee;}
.qnaAnswerBTN input:hover {color: #ffffff; background-color: #064420;}
.qnaAnswerBTN button {color: #000000; background-color: #EEE;}
.qnaAnswerBTN button:hover{color: #ffffff; background-color: #064420;}
.marginBotton {height: 70px;}
