.qnaContent {
    height: 911px;
    width: 1456px;
    padding-top: 69px;
    padding-left: 61px;
    position: relative;
    left: 368px;
}

.qnaDetailHeader {
    display: flex;
    align-items: flex-end;
    margin-top: 55px;
    padding: 0;
}

.qnaDetailHeader h1, h4 {
    margin: 0;
    padding: 0;
}

.qnaDetailContent {
    padding-left: 40px;
    padding-right: 40px;
    font-family: "Pretendard Variable";
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 2px;
}

.qnaDetailBTNDiv {
    width: 100%;
    position: relative;
}

.qnaListViewBTN {
    display: inline-block;
    height: 41px;
    width: 89px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #064420;
    color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    font-family: "Pretendard Variable";

}

.qnaAnswerViewBTN {
    display: inline-block;
    height: 41px;
    width: 130px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #064420;
    color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    font-family: "Pretendard Variable";
    position: absolute;
    left: 50%;               
    transform: translate(-50%, 0);  
}

.qnaUpdateViewBTN {
    display: inline-block;
    height: 41px;
    width: 89px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #064420;
    color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    font-family: "Pretendard Variable";
    position: absolute;
    right: 0;
}

.qnaDeleteBTN {
    display: inline-block;
    height: 41px;
    width: 89px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #064420;
    color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    font-family: "Pretendard Variable";
    position: absolute;
    right: 100px;
}

.qnaDetailDateImg {
    position: relative;
    top: 4px;
}

.qnaDetailIdImg {
    position: relative;
    top: 3px;
}

.qnaDetailTypeImg {
    position: relative;
    top: 5px;
}

.memberData {
    position: absolute;
    right: 0;
}

.memberData span {
    font-family: "Pretendard Variable";
    font-weight: bold;
    margin-left: 10px;
}

.memberData img {
    margin-left: 30px;
}