.qnaContent {height: calc(100vh - 69px - 72px); width: calc(100vw - 368px - 122px); padding: 69px 61px 72px calc(368px + 61px);}
.qnaSeachdiv {padding-top: 85px; padding-left: 1016px; position: relative; height: 41px;}
.qnaSeachdiv img {position: absolute; right: 0; bottom: 0px; width: 30px; height: 30px; cursor: pointer;}
.qnaSearchAllSelect, .qnaSearchTitleSelect, .qnaSearchDateSelect {height: 33px; width: 83px; border-top: none; border-left: none; border-right: none; font-weight: bold; font-size: 20px; position: absolute; font-family: "Pretendard Variable"; font-weight: bold;}
.qnaSearchAllSelect {right: 0; bottom: 0;}
.qnaSearchTitleSelect {right: 270px; bottom: 0;}
.qnaSearchDateSelect {right: 310px; bottom: 0;}
.qnaTitleInput {height: 33px; width: 217px; border-top: none; border-left: none; border-right: none; position: absolute; right: 40px; bottom: 0;}
.qnaDateInput {position: absolute; right: 40px; bottom: 0px;}
.qnaDate {height: 30px; width: 110px; font-family: "Pretendard Variable"; font-weight: bold;}
.qnaInputBTN {display: inline-block; border: 0; background-color: #eeeeee; color: #000000; border-radius: 10px; cursor: pointer; font-family: "Pretendard Variable"; font-size: 16px; width: 100px; height: 36px; border-radius: 8px; border: 0; cursor: pointer; position: absolute; left: 0; bottom: 0;}
.qnaInputBTN:hover {background-color: #064420; color: #ffffff;}
.qnaBTN {display: inline-block; border: 0; background-color: #eeeeee; color: #000000; border-radius: 10px; cursor: pointer; font-family: "Pretendard Variable"; font-size: 16px; width: 100px; height: 36px; border-radius: 8px; border: 0; cursor: pointer; position: absolute; left: 0; bottom: 0;}
.qnaBTN:hover {background-color: #064420; color: #ffffff;}
.qnaListTable {margin-top: 100px; width: 100%; padding-top: 80px; font-size: 18px; border-collapse: collapse; border-top: solid 1px #000000;}
.qnaListTable tr {height: 44px;}
.qnaListTable tr th {background-color: #f9f9f9; }
.qnaListTable tr th, .qnaListTable tr td {border-bottom: 2px solid #0000004b;}
.qnaListTable tr td button {font-size: 18px; background: none; border: none; color: rgb(0, 0, 0); text-decoration: underline; cursor: pointer; text-decoration-line: none;}
.qnaTitle {width: 956px; text-align: left;}
.memberName {width: 200px;}
.memberNameTd, .qnaWCreateAtTd {text-align: center;}
.qnaWCreateAt {width: 200px;}
.qnaStateN {width: 100px; text-align: center; color: #ff0000; font-weight: bolder;}
.qnaStateY {width: 100px; text-align: center; font-weight: bolder;}
.qnaStateYss {background: none; border: none; color: blue; text-decoration: underline; cursor: pointer;}
.pagingDiv {height: 30px;}

.qnaTr {transition: background-color 0.3s ease;}
.qnaTr:hover { background-color: #f0f0f0;}
.qnaTr td {}