.bodyDiv {position: relative; }
.qnaContent {position: absolute; right: 0px; width:calc(100% - 368px) ;padding: 69px 61px 72px 61px; box-sizing: border-box;}
.qnaUpdateTitleDiv, .memberIdDiv, .qnaUpdateContentDiv {display: flex; margin-top: 30px; margin-bottom: 30px;}
.qnaUpdateTitle {width: 100px; margin: 0; padding: 0; vertical-align: top; text-align: left; font-family: "Pretendard Variable"; font-size: 20px;}
.memberId {width: 100px; margin: 0; padding: 0; vertical-align: top; text-align: left; font-family: "Pretendard Variable"; font-size: 20px;}
.qnaUpdateTitleTxt, .qnaUpdateContentTxt {font-family: "Pretendard Variable"; font-size: 20px; resize: none;}
.qnaUpdateTitleTxt {height: 20px; width: 30%;}
.memberIdTxt {height: 20px; width: 30%; font-family: "Pretendard Variable"; font-size: 18px;}
.qnaUpdateContent {width: 100px; margin: 0; padding: 0; vertical-align: top; text-align: left; font-family: "Pretendard Variable"; font-size: 20px;}
.qnaUpdateContentTxt {height: 500px; width: 90%; font-family: "Pretendard Variable"; font-size: 18px;}
.qnaUpdateBTN {position: absolute; margin-top: 10px; left: 50%; transform: translate(-50%, 0);}
.qnaUpdateBTN input, .qnaUpdateBTN button {display: inline-block; border: 0; background-color: #eeeeee; color: #000000; border-radius: 10px; cursor: pointer; font-family: "Pretendard Variable"; font-size: 16px; width: 100px; height: 36px; border-radius: 8px; border: 0; cursor: pointer; margin-left: 25px;}
.qnaUpdateBTN input:hover {color: #ffffff; background-color: #064420;}
.qnaUpdateBTN button:hover {color:#ffffff; background-color: #064420;}
.filesDiv {display: flex; margin-bottom: 20px;}
.filesDiv button {height: 28px;}
.filesDiv div {margin-left: 100px;}
.xMark {background-color:#ffffff00;border: 0;cursor: pointer; font-size: 20px;}
.upLoadFilesBTN {display: inline-block; height: 41px; width: 89px; border: none; font-weight: bold; border-radius: 10px; font-size: 16px; cursor: pointer; font-family: "Pretendard Variable"; color: #000000; background-color: #eeeeee;}
.upLoadFilesBTN:hover {color: #ffffff; background-color: #064420;}
