.qnaContent {position: absolute; right: 0px; top: 0px; width:calc(100% - 368px) ;padding: 69px 61px 72px 61px; box-sizing: border-box;}.memberIdDiv {display: flex;margin-top: 30px; margin-bottom: 30px;}
.qnaWriteContentDiv {display: flex;margin-top: 20px;}
.qnaWriteTitle {width: 100px;margin: 0;padding: 0;vertical-align: top;text-align: left;font-family: "Pretendard Variable";font-size: 20px;}
.memberId {width: 100px; margin: 0; padding: 0; vertical-align: top; text-align: left; font-family: "Pretendard Variable"; font-size: 20px;}
.qnaWriteTitleTxt {height: 20px; width: 30%; font-family: "Pretendard Variable"; font-size: 20px;}
.memberIdTxt {height: 20px; width: 30%; font-family: "Pretendard Variable"; font-size: 18px;}
.qnaWriteContent {width: 100px; margin: 0; padding: 0; vertical-align: top; text-align: left; font-family: "Pretendard Variable"; font-size: 20px;}
.qnaWriteContentTxt {height: 500px; width: 90%; font-family: "Pretendard Variable"; font-size: 18px;}
.qnaWriteBTN {position: absolute; margin-top: 10px; left: 50%; transform: translate(-50%, 0);}
.qnaWriteBTN input, .upLoadFilesBTN, .qnaWriteBTN button {display: inline-block; border: 0; background-color: #eeeeee; color: #000000; cursor: pointer; font-family: "Pretendard Variable"; font-size: 16px; width: 100px; height: 36px; border-radius: 8px; border: 0; cursor: pointer;
position: relative; margin-right: 30px;}

.upLoadFilesBTN {margin-left: 0;}
.qnaWriteBTN input, .upLoadFilesBTN {color: #000000; background-color: #eee;}
.qnaWriteBTN input:hover, .qnaWriteBTN button:hover {background-color: #064420; color: #ffffff;}
.upLoadFilesBTN:hover {background-color: #064420; color: #ffffff;}
.qnaWriteBTN button input {color: #000000; background-color: #EEE;}
.filesDiv {display: flex; margin-bottom: 20px;}
.filesDiv div {margin-left: 100px;}
.xMark {background-color:#ffffff00;border: 0;cursor: pointer; font-size: 20px;}