/* src/pages/notice/NoticeDetail.module.css */
/*member*/
.memberContainer {display: flex;}
.memberSubContainer {width: calc(100% - 368px); position: absolute; top: 0; right: 0; box-sizing:border-box; padding: 72px 48px;}
.MemberNoticeTop{border-bottom: 3px solid #064420; padding-bottom: 8px;}
.MemberNoticeTop > span  {font-size: 40px; font-weight: bold; margin: 0;padding-left: 24px; cursor: pointer;}
.insertTableDiv {width:100%;margin-top: 70px;}
.insertTable{width:100%;}
.insertTable > tbody > tr > td{width:100%;border-bottom: 2px solid #999999;}
.notTitleLine {display:flex;justify-content:space-between;padding:5px 5px;}
.notTitle{display: flex;font-weight:bold;font-size: 24px;}
.writeData{display: flex;align-items: center;justify-items: end; gap: 30px;}
.writeData span{display: flex;gap: 5px;}
.img {width:20px;}
.notContent{width:100%;font-weight:normal;font-size: 16px;padding:30px 20px;white-space: pre-wrap;border: none !important;}
.noticebutton {background: #eee; font-size: 16px; width: 100px; height: 36px; border-radius: 8px; font-family: "Pretendard Variable"; margin-left: 16px; border: 0; cursor: pointer;}
.noticebutton:hover {background: #064420; color: #fff;}
.filesDiv{display: flex; align-items: center; padding:15px 5px}
.file {padding: 0; margin: 0;list-style: none; margin-bottom: 8px; margin-right: 24px;color: #333; text-decoration: none;}
.file:hover {color: #368cfc;cursor: pointer;}
.buttonDiv{position:relative;padding-top:50px;display: flex;justify-content: space-between;align-items: center;margin-bottom: 200px;}
.centerButton{position:absolute;left:50%;transform: translateX(-50%);}
.rightButtons{display:flex;position:absolute;right:0;gap:10px ;}
.fileview{width:90%;}
.noticeFakeButton{font-family: "Pretendard Variable";font-size: 16px; width: 200px; height: 36px; background: #064420; border-radius: 36px; text-align: center; line-height: 36px; color: #fff; margin-right: 24px;border:none;}


/*senior*/
.noticeList {display: flex; flex-direction: column; align-items: center; width: 100%; min-height: 100vh;background-color:#f9f9f9;}
.seniorMainDiv{width: calc(100% - 192px); min-height: calc(100vh - 240px); margin: 48px auto; background: #fff; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); border-radius: 16px; box-sizing: border-box; padding: 96px;}
.seniorDetailTable { width:100%;}
.seniorTopButton td {display: flex;justify-content: space-between;align-items: flex-end;width:100%;margin-bottom: 40px;}
.seniorInnerButton{text-decoration: none;cursor: pointer;border: none;background-color: #ffffff;font-size: 32px;font-weight: bold; font-family: "Pretendard Variable";}
.seniorInnerButton > span{width:36px;position: relative; top: 3px; left: 0px; transition: all 0.3s;}
.seniorInnerButton:hover > span{left: -9px;}
.seniorButton{border:none; font-family: "Pretendard Variable";background-color: #618264;font-size:32px;color: #ffffff;padding:10px 60px;border-radius: 8px;text-decoration: none;cursor: pointer;transition: all 0.3s;letter-spacing: 1px;}
.seniorButton:hover { background: #064420;}
.seniorFakeButton{border:none; font-family: "Pretendard Variable";background: #618264; color: #fff; width: 500px; height: 60px; border-radius: 8px; letter-spacing: 1px; line-height: 60px; font-size: 32px; font-weight: bold; margin-right: 48px;}
.seniorTitle{font-size:60px; color :#064420;font-weight: bold;}
.seniorSubBar{font-size: 28px; font-weight: bold;padding-top: 30px;}
.seniorContent{font-size: 24px; font-weight: bold;white-space: pre-wrap;}
.seniorFiles{font-size: 28px; font-weight: bold;padding-top: 10px;cursor: pointer;}
.seniorFiles:hover {color: #368cfc;}
footer {margin-top: auto;}
.noticeHr {border: none;height: 2px;background-color: #064420;margin: 16px 0;}
.seniorBottomBar{display: flex;padding-bottom: 300px;width: calc(100% - 192px);}
.seniorInnerButton2{text-decoration: none;cursor: pointer;border: none;background-color: #f9f9f9;font-weight: bold; font-size: 32px;font-family: "Pretendard Variable";}
.seniorInnerButton2 > span {position: relative; top: 5px; margin-right: 8px;}
.seniorInnerButton2:hover > span{animation: moveUp 1s infinite;}
@keyframes moveUp {
    50% {top: -10px;}
}
.seniorUpButton {display: flex;justify-content: flex-start;}
.seniorCenterButton {flex: 1;display: flex;justify-content: center;}

.noticeSeniorFiles{display: flex; align-items: center;}