/*senior*/
.noticeList {display: flex;flex-direction: column;min-height: 100vh;background-color:#f9f9f9;}
.top {display:flex;align-items: end;padding : 24px 72px 24px;flex: 0;}
.menuName {display:flex; font-size:72px; font-weight : bold; color:#064420;cursor: pointer;}
.searchbox{display:flex;margin-left:auto;gap:5px;font-size:28px;font-weight : bold;color:#333333;}
.searchOptions{border-bottom:2px gray solid;}
.arrow{width:24px;height:24px;cursor:pointer;}
.searchKeyword{display:flex;align-items:center;border-bottom:2px gray solid;}
.search{width:24px;height:24px;cursor:pointer;}
.searchKeywordBox{width:320px;font-size:24px;border:0px;background-color:#f9f9f9;color:#333333;}
.dropdown{position:absolute;z-index:1000;margin-top:40px;}
.dropdownOption{padding:5px 0px;cursor:pointer;font-weight:normal;}
.dropdownOption:hover{font-weight:bold;}
.list{padding:30px 72px;flex: 0;}
.object{margin:20px 0px;width:100%;max-width: 1400px;margin-left:auto;padding:20px 50px;background-color:#fff;box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);border-radius:10px;}
.object:hover{background-color: #FDFAF6;cursor:pointer;}
.object .messagement {opacity:0;}
.object:hover .messagement {opacity:1; }
.title{font-size:36px;font-weight:bold;color:#333333;}
.message{display:flex;justify-content:space-between;align-items:end;margin-top:10px;font-size:24px;color:#999999;}
.date{color:#333333;font-weight:bold;font-size:24px;}
footer {margin-top: auto;}
.noticePaging {margin-top: 45px; margin-bottom: 200px;}
/*member*/
.memberContainer {display: flex;}
.memberSubContainer {width: calc(100% - 368px); position: absolute; top: 0; right: 0; box-sizing:border-box; padding: 72px 48px;}
.MemberNoticeTop > p  {font-size: 40px; font-weight: bold; margin: 0; border-bottom: 3px solid #064420; padding-bottom: 8px;padding-left: 24px; cursor: pointer;}
.memberSubLine {display: flex;justify-content: space-between;margin-top: 80px;margin-bottom:20px;}
.memberSearchbox{display:flex;justify-content: flex-end;align-items:end;gap:5px;}
.memberSearchOptions{border-bottom:2px #064420 solid;cursor:pointer;font-size: 20px;font-weight: bold;}
.memberArrow{width:20px;height:20px;}
.memberDropdown{position:absolute;z-index:1000;margin-top:5px;}
.memberDropdownOption{padding:5px 0px;cursor:pointer;font-weight:normal;font-size:20px;}
.memberDropdownOption:hover{font-weight:bold;}
.memberSearchKeyword{display:flex;align-items:center;border-bottom:2px #064420 solid;}
.memberSearchKeywordBox{font-family: "Pretendard Variable";width:320px;font-size:18px;border:0px;background-color:#ffffff;color:#333333;}
.memberSearch{width:30px;height:30px;cursor:pointer;}
.memberInputButton{background-color: #064420;font-size:16px;color: #ffffff;padding:5px 20px;border-radius: 10px;text-decoration: none;}
.tableDiv{width:calc(100%);margin-top: 20px;}
.memberNoticeTable{table-layout:fixed;width: 100%;text-align: center;margin-top:80px;font-size: 18px;border-collapse: collapse;}
.memberNoticeTable > thead { width: 100%;}
.memberNoticeTable > thead > tr > th {padding-top : 8px;padding-bottom: 8px;font-weight: bold;border-bottom: 2px solid #999999;}
.thTitle {width: 70px;}
.thDate {width: 20%;}
.thViews {width: 10%;}
.memberNoticeTable > tbody > tr > td {padding-top : 8px;padding-bottom: 8px;border-bottom:2px solid #999999;cursor:pointer;}
.memberNoticePaging {margin-top: 45px;}
